@import url(../../css/imports.css);

* {
    box-sizing: border-box;
}

body {
    background-color: var(--cinzaInputs);
    height: 100vh;
    position: relative;
}

main {
    display: flex;
    justify-content: space-around;

    padding-top: 15vh;
}

.all {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.all .swiper {
    /* background-color: aqua; */
    width: 60%;
    height: 70vh;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px 0px 10px black;
}

.swiper > img {
    width: 60%;
    height: 70vh;
}

.swiper-slide {
    position: relative;
}

.swiper-slide a {
    color: rgb(240, 75, 75);
    width: auto;
    height: auto;

    font-size: 3em;
    vertical-align: middle;
    cursor: pointer;

    position: absolute;
    top: 1vh;
    right: 2vh;

    display: flex;
}

.swiper-slide a h3 {
    vertical-align: middle;
    position: relative;
    top: 4px;
    text-shadow: 0px 0px 3px black;
}

.slide1 {
    background: url(../../arquivos/Proj7_Img11.jpg);
    background-size: cover;
}

.slide2 {
    background: url(../../arquivos/Proj7_Img2.jpg);
    background-size: cover;
}

.slide3 {
    background: url(../../arquivos/Proj7_Img3.jpg);
    background-size: cover;
}

.slide4 {
    background: url(../../arquivos/Proj7_Img4.jpg);
    background-size: cover;
}

.slide5 {
    background: url(../../arquivos/Proj7_Img5.jpg);
    background-size: cover;
}

.slide6 {
    background: url(../../arquivos/Proj7_Img6.jpg);
    background-size: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: black;
}

.texto {
    /* background: rgba(0, 0, 0, 0.267); */
    width: 30%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
   /*  margin-left: 30px; */
}

.texto h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9em;
    text-shadow: 4px 4px 5px black;

    margin-top: 20px;
}

.texto > h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    text-align: justify;

    display: flex;
    justify-content: space-between;

    margin: 30px 10px 0px 10px;
}

.by {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.by > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

.by h2 a {
    font-family: cursive;
    font-size: 1.5em;

    text-decoration: none;
    color: black;
}